<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Package Pulse</title>
</head>
<body>

    <h1>Package Pulse</h1>
    {% if result %}
        <p>{{ result }}</p>
    {% endif %}
    <form method="post" action="/predict">
        <label>Sno</label><br>
        <input type="text" name="Sno"><br><br>
        
        <label>Type</label><br>
        <input type="text" name="Type"><br><br>

        <label>Name</label><br>
        <input type="text" name="Name"><br><br>

        <label>PerQuant</label><br>
        <input type="text" name="PerQuant"><br><br>

        <label>PalmOil</label><br>
        <input type="text" name="PalmOil"><br><br>

        <label>AddedSugar</label><br>
        <input type="text" name="AddedSugar"><br><br>
        
        <label>FoodColor</label><br>
        <input type="text" name="FoodColor"><br><br>

        <label>Fat</label><br>
        <input type="text" name="Fat"><br><br>

        <label>Sodium</label><br>
        <input type="text" name="Sodium"><br><br>

        <label>Protein</label><br>
        <input type="text" name="Protein"><br><br>

        <input type="submit" value="Predict"><br><br>
    </form>

</body>
</html>